@import "normalize";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

$primary-font: "Raleway", sans-serif;

body{
	font: 400 17px/1.5 "Raleway", sans-serif;
}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background-color:  #ff6033;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 55px;
	text-transform: uppercase;
	color: #FFF;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: 0.7;
}
.ba-button:focus {
	outline-color: #fff;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	display: inline-block;
    height: 56px;
    line-height: 48px;
    border: 1px solid #848789;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 300;
    vertical-align: middle;
    width: 570px;

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus{
	outline-color: #00C4C4;
	background-color:  #00c4c4;
	border-left: 5px solid #355b82;
}
select:focus {
	outline-color: #95B82C;
}
textarea {

}

.ba-fresh {
	background: #FFF url("../img/firstbg.jpg") 50%;
	background-size: cover;
	min-height: 100vh;
	padding: 50px 0;
	position: relative;
}
.ba-logo {
	float: left;
}

.ba-header-nav {
	float: right;
}

.ba-menu {
	list-style: none;
	padding: 0;
	float: right;
	height: 90px;
	a {
	font-family: $primary-font;
	color:  #262626;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 3px solid #fff;
	margin: 0 10px;
	}
	a:hover {
	border-color: #ff6033;
	margin-bottom: 9px;
	}
	li {
	float: left;
	}
}


.ba-fresh_first-content {
	float: left;
	width: 50%;
	h2 {
	color:  #262626;
	font-size: 60px;
	font-weight: 800;
	margin-top: 170px;
	margin-bottom: 15px;
	}
	p {
	color:  #262626;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 30px;
	}
}

.ba-scroll {
	position: absolute;
	background: url("../img/scroll.png") no-repeat 50%;
	width: 24px;
	height: 40px;
    bottom: 60px;
    transition: transform .2s ease-in;
    &:hover {
    transform: translateY(-10px);
    }
}

/* ba-about */

.ba-about {
	background-color: #19BDBD;
}

.ba-image {
	float: left;
	width: 50%;
}
.ba-about__content {
	float: right;
	width: 50%;
	h3 {
	color:  #ffffff;
	font-size: 90px;
	font-weight: 700;
	margin-bottom: 30px;
	}
	p {
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	}
}
.ba-second-content {
	padding: 135px 0 100px 100px;
}

/* ba-services */

.ba-services {
	background-color: #6FBEFD;
}

.ba-list {
	float: left;
	width: 50%;
	padding: 76px 0 0 100px;
}

.ba-service {
	display: inline-block;
	font-size: 0;
	h4 {
	color:  #262626;
	font-size: 20px;
	font-weight: 700;
    line-height: 1.3;
    width: calc(100% - 100px);
    margin: 0;
    vertical-align: middle;
    padding: 0 30px;
    text-align: center;
    display: inline-block;
	}
}
.ba-servi li {
	background-color:  #ffffff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	width: 400px;
	height: 100px;
	list-style: none;
	margin-top: 20px;
}

.ba-icon {
	display: inline-block;
    height: 100px;
    width: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-left: 1px solid #9D9D9D;
    vertical-align: middle;
	&__images-shopping {
	background-image: url("../img/shopping.svg");
	}
	&__images-quality {
	background-image: url("../img/quality.svg");
	}
	&__images-domestic {
	background-image: url("../img/domestic.svg");
	}
	&__images-welloz {
	background-image: url("../img/welloz.svg");
	}

}


.ba-tomato {
	float: right;
	width: 50%;
	padding-left: 30px;
	h3 {
	color:  #ffffff;
	font-size: 90px;
	font-weight: 700;
	text-align: center;
    padding: 220px 0;
    color: #fff;
    background: url("../img/img.png") no-repeat;
    }
}

/* ba-gallery */

.ba-gallery {
	background-color:  #ffe92f;
	text-align: center;
	padding: 100px 0 120px;
	h3 {
	color:  #262626;
	font-size: 90px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 0;
	}
	p {
	color:  #262626;
	font-size: 17px;
	font-weight: 300;
	}
}
.ba-button__gallery {
	margin-top: 50px;
    background: #5585a2;
}


/* ba-subscribe */

.ba-subscribe {
	background: url("../img/subscribebg.jpg") 50% no-repeat;
	background-size: contain;
	padding: 140px 0 160px;
	h3 {
	color:  #262626;
	font-size: 40px;
	font-weight: 700;
	}
	p {
	color:  #262626;
	font-size: 17px;
	font-weight: 300;
	}
}
.ba-button__subscribe {
	background-color:  #96b92c;
	margin-left: 30px;
}

/* ba-blog */
.ba-blog {
	background: rgb(175,123,245);
background: -webkit-linear-gradient(rgba(175,123,245,1) 0%, rgba(175,123,245,1) 100%);
background: -o-linear-gradient(rgba(175,123,245,1) 0%, rgba(175,123,245,1) 100%);
background: linear-gradient(rgba(175,123,245,1) 0%, rgba(175,123,245,1) 100%);
	text-align: center;
	color:#fff;
	padding: 100px 0;
	h3 {
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	}
	p {
	font-size: 17px;
	font-weight: 300;
	}
}

.ba-smooshie {
	position: relative;
	&__overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: .3s ease-in;
	}
	&__date {
	position: absolute;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
	}
	&__text {
	position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 40%;
    text-align: left;
	span {
	font-size: 20px;
	font-weight: 700;
	}
	p{
	font-size: 13px;
	font-weight: 300;
	}
	}
}
.ba-smooshie:hover .ba-smooshie__overlay {
	opacity: 1;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
}
.ba-soup {
	position: relative;
	&__overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: .3s ease-in;
	}
	&__date {
	position: absolute;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
	}
	&__text {
	position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 40%;
    text-align: left;
	span {
	font-size: 20px;
	font-weight: 700;
	}
	p{
	font-size: 13px;
	font-weight: 300;
	}
	}
}
.ba-soup:hover .ba-soup__overlay {
	opacity: 1;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
}
.ba-boxis {
	position: relative;
	&__overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: .3s ease-in;
	}
	&__date {
	position: absolute;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
	}
	&__text {
	position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 40%;
    text-align: left;
	span {
	font-size: 20px;
	font-weight: 700;
	}
	p{
	font-size: 13px;
	font-weight: 300;
	}
	}
}
.ba-boxis:hover .ba-boxis__overlay {
	opacity: 1;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 100%);
}

.ba-button__blog {
	background-color:  #f72b3b;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	margin-top: 50px;
}
/* ba-contact */

.ba-contact {
	background: #5D93B7 url("../img/contactbg.jpg") 50%;
	background-size: cover;
	padding: 100px 0 120px;
	h3{
	color:  #262626;
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	}
	p{
	color:  #262626;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
	}
}
.ba-contact__form {
	background-color:  rgba(0, 196, 196, 0.5);
	max-width: 500px;
	height: 50px;
	margin-bottom: 15px;
	color:#fff;
	text-decoration: none;
	padding-right: 150px;
	border-left: 5px solid transparent;
	&:focus{
	background-color:  #00c4c4;
	border-left: 5px solid #355b82;
	}
}
.ba-textarea {
	height: 250px;
}

.ba-contact__info {
	span{
	color:  #262626;
	font-size: 17px;
	font-weight: 700;
	}
	p{
	color:  #262626;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	margin: 0;
	margin-bottom: 13px;
	}
	a{
	text-decoration: none;
	color: #262626;
	}
}

.ba-button__contact {
	background: #262C83;
}

/* ba-footer */

.ba-footer {
	background-color:  #262626;
	min-height: 90px;
	&__content{
	color:  #b9b9b9;
	font-size: 16px;
	font-weight: 300;
	line-height: 90px;
	}
	&__logo{
	text-align: center;
	line-height: 90px;
	vertical-align: middle;
	}
	span{
	color:  #ff2b58;
	}
	&__author{
	text-decoration: none;
	color: #b9b9b9;
	}
	&__author:hover{
	text-decoration: underline;
	}
}
